:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colors-background-gray-100-main: #F2F2F2;
  --colors-background-blue-300: #BAD0E2;
  --colors-text-black-300: #333333;
  --colors-outline-gray-900-border: #79747E;
  --colors-text-gray-600-outline-labels: #49454F;
  --colors-background-gray-500-disabled: #DCD8E0;
  --colors-text-gray-400: #A8A3AB;
  --colors-primary-400-main: #2D609B;
  --colors-outline-gray-300-light: #D3D3D3;
}

#root {
  min-width: 320px;
  max-width: 320px;
  min-height: 480px;
  max-height: 480px;

}

.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.fonts_roboto_10_500 {
  font-family: Roboto,sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.1px;
  text-align: left;

}

.fonts_roboto_14_500 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--colors-text-black-300);
}

.fonts_roboto_12_500 {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: .5px;
  text-align: center;
  color: var(--colors-text-black-300);
}

.fonts_roboto_14_400 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .5px;
  text-align: left;
}

.fonts_roboto_13_400 {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: left;
}

.fonts_roboto_15_400 {
  font-family: Roboto, sans-serif ;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: left;
}

.fonts_roboto_12_400 {
  font-family: Roboto,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: left;

}

.fonts_roboto_10_400 {
  font-family: Roboto,sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.25px;
  text-align: left;

}

.container {
  padding: 8px;
}

.main_menu_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}
